<!-- Title -->
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    @font-face {
    font-family: 'jackpot_demoregular';
    src: url('jackpot_demo-webfont.eot');
    src: url('jackpot_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('jackpot_demo-webfont.woff2') format('woff2'),
         url('jackpot_demo-webfont.woff') format('woff'),
         url('jackpot_demo-webfont.ttf') format('truetype'),
         url('jackpot_demo-webfont.svg#jackpot_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  </style>
  <title>GraduAid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse" style="border-color:#98DDD6">
  <div class="container-fluid" style="background-color:#98DDD6">
    <div class="navbar-header">
      <a class="navbar-brand" href='/' id="header" style="margin: 0px;padding: 8px;display: table-cell;vertical-align: middle">
        <span><%=image_tag "logo.png", :style => "width: 35px" %></span> 
        <span class="logo-font">GraduAid</span>
      </a>
    </div>
    <% if session[:curr_id]!=nil then %>
    <ul class="nav navbar-nav navbar-right">
        <li><a href='/user/profile' id='navigator'><span class="glyphicon glyphicon-user"></span>
        <%= User.find(session[:curr_id]).first_name + "'s "%>
    Profile
      </a></li>
      <li><a href='/user/logout' id='navigator'><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
    </ul>
    <%= form_tag("/main/explore_courses", :method => "post", :role => "search", :class => "navbar-form navbar-right") do %>
    <div class="form-group">
      <%= text_field_tag 'query', nil, class: "form-control", placeholder: "Search" %>
    </div>
    <button type="submit" class="btn btn-default" style="background-color:#5B7E7C; border-color:#98DDD6; color:white">Submit</button>
    <% end %>
  </div>
  <% else %>
  <ul class="nav navbar-nav navbar-right">
  <li><a href='/user/register' id='navigator'><span class="glyphicon glyphicon-user"></span>
  Register</a></li></ul>
  <% end %>
</nav>


<%= yield %>

</body>
</html>
