<%= form_tag("/user/post_login", :method => "post") do %>
<div class="col-sm-1">
</div>
<div class="col-sm-5">
      <h3>Let's graduate.</h3>
      <p>Explore different majors and tracks</p>
      <p>Track current progress</p>
      <p>Discover potential classes</p>
    </div>

<div class="col-sm-4">
  <h3>Log In</h3>
  <% if flash[:notice] %>
  <div class="alert" style="background-color: white; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; width:300px;"><%= flash[:notice] %></div>
  <% end %>
  <table class="center_align">
    <tr>
      <td>
        Email:
      </td>
      <td>
        <!-- <input id="email" name="email" placeholder="Your Stanford email" style="width: 300px"> -->
        <%= text_field_tag(:email)%>
      </td>
    </tr>
    <tr>
      <td>
        Password:
      </td>
      <td>
<!--       <input id="password" name="password" placeholder="Your password" style="width: 300px">
 -->        <%= password_field_tag(:password) %>
      </td>
    </tr>
  </table>
  <br>
  <%= submit_tag "Log in", class: "btn" %>
  <% end %>
<div style="line-height:50%;">
    <br>
</div>
<h3>Sign Up</h3>
Want to be a new member? Register now!<br>
<div style="line-height:50%;">
    <br>
</div>
<%= link_to "/user/register" do%><button class="btn">Register</button><% end %>

</div>
