<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: #F5EFDF;
      background-image: image-url('login_background.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
    }
  </style>
</head>
<body>
<%= form_tag("/user/post_login", :method => "post") do %>
<div class="col-sm-1">
</div>
<div class="col-sm-5">

      <h3>Let's graduate.</h3>
      <br>
      <p><%=image_tag 'explore.png', :style => "margin-top:5px; margin-bottom:5px; width:40px; height:40px;", :class => "img-rounded", :alt=>"intro1", 'data-turbolinks-track' => true %> Explore different majors and tracks</p>
      <p><%=image_tag 'track.png', :style => "margin-top:5px; margin-bottom:5px; width:40px; height:40px;", :class => "img-rounded", :alt=>"intro2", 'data-turbolinks-track' => true %> Track current progress</p>
      <p><%=image_tag 'discover.png', :style => "margin-top:5px; margin-bottom:5px; width:40px; height:40px;", :class => "img-rounded", :alt=>"intro2", 'data-turbolinks-track' => true %> Discover potential classes</p>
    </div>

<div class="col-sm-4">
  <h3>Log In</h3>
  <% if flash[:notice] %>
   <div class="alert" style="background-color: red; width:300px;"><%= flash[:notice] %></div>
  <% end %>

  <table class="center_align">
    <tr>
      <td style="padding-bottom:10px">
        <label class="control-label col-sm-1" for="email">Email:</label>
      </td>
      <td style="padding-bottom:10px">
        <!-- <input id="email" name="email" placeholder="Your Stanford email" style="width: 300px"> -->
        <%= text_field_tag('email', nil, class: 'form-control')%>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label col-sm-1" for="password">Password:</label>
      </td>
      <td>
<!--       <input id="password" name="password" placeholder="Your password" style="width: 300px">
 -->
         <%= password_field_tag('password', nil, class: 'form-control') %>
      </td>
    </tr>
  </table>
  <br>
  <%= submit_tag "Log in",class: "btn btn-default btn-md", style: "color: white; background: #5B7E7C;"%>
  <% end %>
<div style="line-height:50%;">
    <br>
</div>
<h3>Sign Up</h3>
Want to be a new member? Register now!<br>
<div style="line-height:50%;">
    <br>
</div>
<%= link_to "/user/register" do%><button type="button" class="btn btn-default btn-md" style= "color: white; background: #5B7E7C;">Register</button><% end %>

</div>
</body>
</html>
