<%= form_tag("/user/post_login", :method => "post") do %>

<table class="center_align">
  <tr>
    <td>
      Username:
    </td>
    <td>
      <%= text_field_tag(:login) %>
    </td>
  </tr>
  <tr>
    <td>
      Password:
    </td>
    <td>
      <%= password_field_tag(:password) %>
    </td>
  </tr>
</table>
<%= submit_tag("Log in") %>
<% end %>

<% if flash[:notice] %>
<div class="alert"><%= flash[:notice] %></div>
<% end %>

<p>
  Want to be a new member? Register now!
  <a href = "#modalRegister">Register</a>")
  <div id="modalRegister" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <table class="center_align">
        <tr>
          <td>
            Do you know what you want to major in?
          </td>
        </tr>
        <tr>
          <td>
            <a href="#yes">Yes</a>
          </td>
          <td>
            <a href="#no">No</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</p>

