<%= form_tag("/user/post_login", :method => "post") do %>
<div>
  <% if flash[:notice] %>
  <div class="alert" style="background-color: red; width:300px;"><%= flash[:notice] %></div>
  <% end %>
  <table class="center_align">
    <tr>
      <td>
        Email:
      </td>
      <td>
        <%= text_field_tag(:email) %>
      </td>
    </tr>
    <tr>
      <td>
        Password:
      </td>
      <td>
        <%= password_field_tag(:password) %>
      </td>
    </tr>
  </table>
  <%= submit_tag "Log in", class: "registerButton" %>
  <% end %>
</div>
<br>
<div>
Want to be a new member? Register now!<br>
<%= link_to "/user/register" do%><button class="registerButton">Register</button><% end %>
</div>