<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <style>
  .modal-header, h4, .close {
      background-color: #EC4F55; /*or #98DDD6*/
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  </style>
</head>
<body>

<style type="text/css">
   body { background: #F5EFDF !important; }
</style>

<% if flash[:notice] then %>
<div class="alert" style="background-color: white; width:500px; border-left-width: 30px; margin-left: 45px;"><%= flash[:notice] %></div>
<% end %>

<%= form_tag("/user/delete_account", :method=>"post", :id=>"delete_form") do %>
<% end %>

<div class="container fill" style="margin-top:10px; margin-bottom:10px;">
    <div class="row rowfill">
        <div class="col-sm-3 col-md-4 sidebar" style="background-color:white; width:30%; height:100%; text-align: center;">
            <%=image_tag @user.profile_file_path, :style => "margin:auto; margin-top: 20px; margin-bottom: 20px; width:100%;", :class => "img-rounded", :alt=>"Profile Image", 'data-turbolinks-track' => true %>
            <br>
            <button class="btn btn-default btn-xs" id="import" onclick="javascript:changeProfile();">Change Profile</button>
            <%= form_tag("/user/post_photo", :method => "post", :multipart => true, :id => "profile_form") do %>
                <%= file_field_tag :photo, :style => "display:none", :id => "browser" %>
            <% end %>
            <h3>Basic Information</h3>
            <ul class="profile-list">
                <li><b>First Name:</b> <%=@user.first_name%></li>
                <li><b>Last Name:</b> <%=@user.last_name%></li>
                <li><b>Email:</b> <%=@user.email%></li>
                <li><b>Main Track:</b> <span id = "track_show"><% if @user.track then %> <%=@user.track.name%> <% else %> Not declared yet! <% end %></span>
                    <button class="btn btn-default btn-xs" onclick="javascript:changeTrack();">Change Track</button><br>
                    <div id="track_change" style="display:none;">
                        <select id="track_id" name="track_id">
                        <% if @user.track == nil then %>
                            <option value=""></option>
                        <% end %>
                        <% Track.all.each do |track| %>
                            <% if track.name == "General Requirement" then next end %>
                            <option value="<%=track.id%>" <% if @user.track and @user.track.id == track.id then %> selected <% end %>><%=track.name%></option>
                        <% end %>
                        </select>
                        <button class="btn btn-default btn-xs" onclick="javascript:submitNewTrack()">Submit</button>
                    </div>
                </li>
            </ul>
            <div class="delete-btn"><button class="btn btn-default btn-xs" onclick="javascript:confirmDeleteAccount();">Delete Account</button></div>
        </div>
        <div class="col-sm-7 col-md-8 sidebar" style="width:70%; height:100%;">
            <div class="col-sm-10 col-md-12" style="width:100%; background-color:white; height:100%">
                <div style="margin-top:20px; margin-right:10px; float:right;">
                <span style="font: 30px; float:right; font-weight: bold; margin-top:20px">Add Courses<button type="button" class="btn btn-default btn-md" id="course_btn" style="margin-left:5px"><span class="glyphicon glyphicon-plus"></span></button></span>

                <!-- START OF MODAL WINDOW CODE: 이게 우리가 할라는 modal 써서 하는 프레임 -->
                <!-- Trigger the modal with a button -->

                <!-- Modal -->
                <div class="modal fade" id="courseModal" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4>Add Courses <span class="glyphicon glyphicon-education"></span></h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                        <%= form_tag "/main/search_course", :method => "post", :id => "courses" do %>
                          <div class="form-group">
                              <label for="psw"><span class="glyphicon glyphicon-book"></span> Courses</label>
                              <div class="input-group">
                                  <div class="input-group-btn">
                                    <%= hidden_field_tag :course_dept %>
                                    <button id = "show_course_dept" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Course Dept <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu" style = "height: 150px; overflow:auto">
                                    <% @dept_list.each do |dept| %>
                                        <li> <a href="javascript:setDept('<%=dept%>');"><%=dept%></a></li>
                                    <% end %>
                                    </ul>
                                  </div><!-- /btn-group -->
                                  <%= text_field_tag :course_num, nil, :class => "form-control", :placeholder => "List course number..." %> 
                                  <div class="input-group-btn">
                                  <%= submit_tag "Search", class: "btn btn-default" %>
                                  </div>
                                </div><!-- /input-group -->
                            </div>
                            <% hidden_field_tag :return_url, '/user/profile' %>
                            <div>When user clicks "Search", course list should show here.</div>
                          <% end %>
                          <br>
                          <div id="course_list"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-container="body" data-toggle="popover" data-placement="right" data-content="To search for multiple courses at once, choose the class department from the dropdown menu and comma separate the course numbers. Ex) Search Bar Input: 106B, 110, 229"><span class="glyphicon glyphicon-info-sign"></span></button>
                            <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        </div>
                      </div>
                    </div>
                </div> 
            
                <div>
                <span style="float:right; font: 30px; font-weight: bold; margin-top:20px">Add AP Credits
                <button type="button" class="btn btn-default btn-md" id="ap_btn"><span class="glyphicon glyphicon-plus"></span></button></span>

                <!-- START OF MODAL WINDOW CODE: 이게 우리가 할라는 modal 써서 하는 프레임 -->
                <!-- Trigger the modal with a button -->
                <!-- Modal -->
                <div class="modal fade" id="apModal" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4>Add AP Credits <span class="glyphicon glyphicon-education"></span></h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                        <div onchange="handleChange();">
                        <table>
                          <% ap_list = ['AP Calc AB', 'AP Calc BC', 'AP Chem', 'AP Phys B', 'AP Phys C Mech', 'AP Phys C E&M'] %>
                          <% ap_list.each do |ap_name| %>
                          <% ap = ApCredit.find_by(name:ap_name, user_id: @user.id) %>
                          <tr class = "ap_credit">
                          <div>
                            <td width="50"><%= check_box_tag ap.name, ap.name, ap.taken , class: 'ap_title'%></td>
                            <td width="150"><%=ap.name%></td>
                            <td><select class="ap_grade">
                                <option value="5" <% if ap.grade == 5 then%> selected <% end %>>5</option>
                                <option value="4" <% if ap.grade == 4 then%> selected <% end %>>4</option>
                                <option value="3" <% if ap.grade == 3 then%> selected <% end %>>3</option>
                                <option value="2" <% if ap.grade == 2 then%> selected <% end %>>2</option>
                                <option value="1" <% if ap.grade == 1 then%> selected <% end %>>1</option>
                            </select></td>
                          </div>
                          </tr>
                          <% end %>
                          </table>
                          <br>
                          <button onclick="javascript:submitApCredits();" class="btn btn-success btn-block">Submit</button>
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div>
                    <a type="button" href='/' class="btn btn-default btn-md" style="float: right; margin-top: 20px;">Return to Main</a>
                </div>
                </div> 
            </div>
                <!-- END OF MODAL WINDOW CODE -->


                <h3> Courses </h3>
                <% if @takens != nil %>
                    <table>
                    <tr>
                    <th width="150"> Course Name</th>
                    <th width="100"> Grade </th>
                    <th> Unit </th>
                    </tr>
        	        <% @takens.each do |taken| %>
                    <% course = Course.find_by(id: taken.course_id) %>
                    <% if course.ap_credit then next end %>
                    <tr id="<%=taken.id%>" class="0">
                        <% like = Like.find_by(user_id: taken.user_id, course_id: course.id) %>
                        <td class="profileTable"><%= course.course_name %></td>
                        <td class="profileTable"> <%if taken.grade then %> <%=taken.grade%> <%else%> No grade info <%end%> </td>
                        <td class="profileTable" style="display:none;"><select class="grade">
                            <option value=""></option>
                            <option value="A+" <% if taken.grade == "A+" then%> selected <% end %>>A+</option>
                            <option value="A" <% if taken.grade == "A" then%> selected <% end %>>A</option>
                            <option value="A-" <% if taken.grade == "A-" then%> selected <% end %>>A-</option>
                            <option value="B+" <% if taken.grade == "B+" then%> selected <% end %>>B+</option>
                            <option value="B" <% if taken.grade == "B" then%> selected <% end %>>B</option>
                            <option value="B-" <% if taken.grade == "B-" then%> selected <% end %>>B-</option>
                            <option value="C+" <% if taken.grade == "C+" then%> selected <% end %>>C+</option>
                            <option value="C" <% if taken.grade == "C" then%> selected <% end %>>C</option>
                            <option value="C-" <% if taken.grade == "C-" then%> selected <% end %>>C-</option>
                            <option value="D+" <% if taken.grade == "D+" then%> selected <% end %>>D+</option>
                            <option value="D" <% if taken.grade == "D" then%> selected <% end %>>D</option>
                            <option value="D-" <% if taken.grade == "D-" then%> selected <% end %>>D-</option>
                            <option value="F" <% if taken.grade == "F" then%> selected <% end %>>F</option>
                        </select></td>
                        <td class="profileTable"> <%=taken.unit%> </td>
                        <td class="profileTable" style="display:none;"><select class="unit">
                            <% for i in course.max_unit.downto(course.min_unit) do %>
                            <option value="<%=i.to_s%>" <% if taken.unit == i then%> selected <% end %>><%=i.to_s%></option>
                            <% end %>
                        </select></td>
                        <td> <button class="btn btn-default btn-xs" onclick="javascript:modifyTaken(<%=taken.id%>);"><span class="glyphicon glyphicon-edit"></span></button></td>
                        <td class="profileTable"> <button class="btn btn-default btn-xs" onclick="javascript:removeTaken(<%=taken.id%>);"><span class="glyphicon glyphicon-remove"></span></button></td>
                        <td class="profileTable" style="display:none;"><button class="btn btn-default btn-xs" onclick="javascript:submitTakenMod(<%=taken.id%>);">Submit</button></td>
                        <td class="profileTable" style="width: 30px"> 
                        <% if like and like.up then %>
                        <span>
                        <a href="javascript:sendLike(0, '<%=course.id%>');" style='text-decoration: none;' title="Like">
                            <span class="glyphicon glyphicon-thumbs-up" style="color:#EC4F55"></span>
                            <!--<%=image_tag 'like.png', :id => "like_" + course.id.to_s, :style => "width:25px; height:25px;", :class => "img-rounded"%>-->
                        </a>
                        </span>
                        <% else %>
                        <span onmouseover="javascript:noFaint('<%="like_" + course.id.to_s%>');" onmouseout="javascript:faint('<%="like_" + course.id.to_s%>');">
                        <a href="javascript:sendLike(1, '<%=course.id%>');" style='text-decoration: none;' title="Like">
                            <span class="glyphicon glyphicon-thumbs-up" style="color:black"></span>
                            <!--<%=image_tag 'like.png', :id => "like_" + course.id.to_s, :style => "width:25px; height:25px; opacity:.5;", :class => "img-rounded"%>-->
                        </a>
                        </span>
                        <% end %>
                        </td>
                        <td class="profileTable">
                        <% if like and not like.up then %>
                        <span>
                        <a href="javascript:sendDislike(0, '<%=course.id%>');" style='text-decoration: none;' title="Dislike">
                            <span class="glyphicon glyphicon-thumbs-down" style="color:#EC4F55"></span>
                            <!--<%=image_tag 'dislike.png', :id => "dislike_" + course.id.to_s, :style => "width:25px; height:25px;", :class => "img-rounded"%>-->
                        </a>
                        </span>
                        <% else %>
                        <span onmouseover="javascript:noFaint('<%="dislike_" + course.id.to_s%>');" onmouseout="javascript:faint('<%="dislike_" + course.id.to_s%>');">
                        <a href="javascript:sendDislike(1, '<%=course.id%>');" style='text-decoration: none;' title="Dislike">
                            <span class="glyphicon glyphicon-thumbs-down" style="color:black"></span>
                            <!--<%=image_tag 'dislike.png', :id => "dislike_" + course.id.to_s, :style => "width:25px; height:25px; opacity:.5;", :class => "img-rounded"%>-->
                        </a>
                        </span>
                        <% end %>
                        </td>
                    </tr>
                    <% end %>
                    </table>
                <% end %>
                </div>
            </div>
    </div>
</div>

<%= form_tag "/user/like", :method=>"post", :id=>"like_form" do %>
    <% hidden_field_tag :course_id %>
<% end %>

<%= form_tag "/user/dislike", :method=>"post", :id=>"dislike_form" do %>
    <% hidden_field_tag :course_dis_id %>
<% end %>

<script type='text/javascript'>
$(document).ready(function(){
    $("#course_btn").click(function(){
        $('#courseModal').modal({
            backdrop: 'static',
            keyboard: false
        })
    });
});

$(document).ready(function(){
    $("#ap_btn").click(function(){
        $('#apModal').modal({
            backdrop: 'static',
            keyboard: false
        })
    });
});

$("#import").click(function() {
    $("#browser").trigger("click");
    $('#browser').change(function() {
        $('#profile_form').submit();
    });
});

function setDept(name) {
    document.getElementById('course_dept').value = name;
    document.getElementById('show_course_dept').innerHTML = name;
}

function confirmDeleteAccount() {
    var r = confirm("Delete the account?");
    if (r == true) {
        var form = document.getElementById('delete_form');
        form.submit();
    } else {
        return;
    }
}

function changeTrack() {
    var curr = document.getElementById('track_change').style.display;
    if(curr == "") {
        document.getElementById('track_change').style.display = "none";
    }
    else
        document.getElementById('track_change').style.display = "";
}

function submitNewTrack() {
    var track_id = document.getElementById('track_id').value;
    if(track_id == "") return;

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/user/post_track?track_id=" + track_id, false);
    xhttp.send();
    var txt_list = xhttp.responseText.split(',')
    document.getElementById('track_show').innerHTML = txt_list[1];
    document.getElementById('track_change').style.display = "none";
}

function modifyTaken(taken_id) {
    var cols = document.getElementById(taken_id).getElementsByTagName("td");
    if(cols[1].style.display == "") {
        cols[1].style.display = "none";
        cols[3].style.display = "none";
        cols[6].style.display = "none";
        cols[2].style.display = "";
        cols[4].style.display = "";
        cols[7].style.display = "";
    } else {

        cols[2].style.display = "none";
        cols[4].style.display = "none";
        cols[7].style.display = "none";
        cols[1].style.display = "";
        cols[3].style.display = "";  
        cols[6].style.display = "";      
    }
}

function removeTaken(taken_id) {
    var r = confirm("Remove this data?");
    if (r == true) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/main/delete_course?taken_id=" + taken_id, false);
        xhttp.send();
        $("#" + taken_id).remove();
    } else {
        return;
    }
}

function submitTakenMod(taken_id) {
    var cols = document.getElementById(taken_id).getElementsByTagName("td");

    var data = {"data":[]}
    
    data["data"][0] = {};
    data["data"][0]["course_name"] = cols[0].innerHTML;
    data["data"][0]["grade"] = cols[2].getElementsByClassName("grade")[0].value;
    data["data"][0]["unit"] = cols[4].getElementsByClassName("unit")[0].value;

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/main/update_course", false);
    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhttp.send(JSON.stringify(data));

    if(xhttp.responseText == "success") {
        cols[2].style.display = "none";
        cols[4].style.display = "none";
        cols[7].style.display = "none";
        cols[1].style.display = "";
        cols[1].innerHTML = cols[2].getElementsByClassName("grade")[0].value;
        cols[3].style.display = ""; 
        cols[3].innerHTML = cols[4].getElementsByClassName("unit")[0].value;
        cols[6].style.display = "";       
    }
}

$(document).ready(function() {
  $("#courses").submit(function(event){
    event.preventDefault();
    $.ajax({
            url: $(this).attr("action"),
            type: 'POST',
            data: $(this).serialize(),
            success: function(data) {
                $("#course_list").html(data);
            }
    });  
   });
});

// $(document).ready(function(){
//     $('[data-toggle="popover"]').popover();   
// });

$(document).on('click', function (e) {
    //did not click a popover toggle, or icon in popover toggle, or popover
    if ($(e.target).data('toggle') !== 'popover'
        && $(e.target).parents('[data-toggle="popover"]').length === 0
        && $(e.target).parents('.popover.in').length === 0) { 
        $('[data-toggle="popover"]').popover('hide');
    }
});

function noFaint(id) {
    document.getElementById(id).style.opacity = '1.0';
}

function faint(id) {
    document.getElementById(id).style.opacity = '.5';
}

function sendLike(en, course_id) {
    var form = document.getElementById('like_form');
    document.getElementById('course_id').value = course_id;
    if(en) {
        var input = document.createElement("input");
        input.name = "enable";
        input.type = "hidden";
        input.id = "enable";
        input.value = "1";
        form.appendChild(input);
    }
    form.submit();
}

function sendDislike(en, course_id) {
    var form = document.getElementById('dislike_form');
    document.getElementById('course_dis_id').value = course_id;
    if(en) {
        var input = document.createElement("input");
        input.name = "enable";
        input.type = "hidden";
        input.id = "enable";
        input.value = "1";
        form.appendChild(input);
    }
    form.submit();
}

function handleChange(){
    var ap_rows = document.getElementsByClassName('ap_credit');
    for(var i = 0; i < ap_rows.length; i++) {
        if(document.getElementsByClassName('ap_title')[i].checked) {
            ap_rows[i].getElementsByTagName('td')[2].style.display = "";
        } else {
            ap_rows[i].getElementsByTagName('td')[2].style.display = "none";
        }
    }
}

$(document).ready(function(){handleChange();});

function submitApCredits() {    
    var data = {"data":[]};
    var ap_data_list = document.getElementsByClassName("ap_credit");
    var i;
    for(i = 0; i < ap_data_list.length; i++) {
        var ap_data = ap_data_list[i];
        data["data"][i] = {};
        data["data"][i]["name"] = ap_data.getElementsByTagName("td")[1].innerHTML;
        data["data"][i]["taken"] = document.getElementsByClassName('ap_title')[i].checked;
        if(document.getElementsByClassName('ap_title')[i].checked) {
            data["data"][i]["grade"] = document.getElementsByClassName('ap_grade')[i].value;
        } else {
            data["data"][i]["grade"] = 0;
        }
    }

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/main/update_ap", false);
    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhttp.send(JSON.stringify(data));

    if(xhttp.responseText == "success")
        document.location.href = '/user/profile';
}

</script>


</body>
</html>