<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<style type="text/css">
   body { background: #EEEEEE !important; }
</style>

<% if flash[:notice] then %>
<div class="alert" style="background-color: white; width:500px; border-left-width: 30px; margin-left: 45px;"><%= flash[:notice] %></div>
<% end %>
<div class="container fill" style="margin-top:10px; margin-bottom:10px;">
    <div class="row rowfill">
        <div class="col-sm-3 col-md-4 sidebar" style="background-color:white; width:30%; height:100%;">
            <img src="logo.png" class="img-rounded" alt="Profile Image" style="margin-top:20px; margin-bottom:20px" width="100%" height="50%"> 
            <h4>Basic Information</h4>
            <ul>
                <li><b>First Name:</b> <%=@user.first_name%></li>
                <li><b>Last Name:</b> <%=@user.last_name%></li>
                <li><b>Email:</b> <%=@user.email%></li>
                <li><b>Main Track:</b> <span id = "track_show"><% if @user.track then %> <%=@user.track.name%> <% else %> Not declared yet! <% end %></span>
                    <button class="btn btn-default btn-xs" onclick="javascript:changeTrack();">Change Track</button><br>
                    <div id="track_change" style="display:none;">
                        <select id="track_id" name="track_id">
                        <% if @user.track == nil then %>
                            <option value=""></option>
                        <% end %>
                        <% Track.all.each do |track| %>
                            <% if track.name == "General Requirement" then next end %>
                            <option value="<%=track.id%>" <% if @user.track and @user.track.id == track.id then %> selected <% end %>><%=track.name%></option>
                        <% end %>
                        </select>
                        <button class="btn btn-default btn-xs" onclick="javascript:submitNewTrack()">Submit</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-7 col-md-8 sidebar" style="width:70%; height:100%;">
            <div class="col-sm-10 col-md-12" style="width:100%; background-color:white; height:100%">
                <span style="font: 30px; font-weight: bold; margin-top:20px">Add Courses</span>
                <span><a href="/main/add_courses"><button type="button" class="btn btn btn-default btn-md"><span class="glyphicon glyphicon-plus"></span></button></a></span>
                <h3> Courses </h3>
                <% if @takens != nil %>
                    <table>
                    <tr>
                    <th width="150"> Course Name</th>
                    <th width="100"> Grade </th>
                    <th> Unit </th>
                    </tr>
        	        <% @takens.each do |taken| %>
                    <tr id="<%=taken.id%>" class="0">
                        <% course = Course.find_by(id: taken.course_id) %>
                        <td><%= course.course_name %></td>
                        <td> <%if taken.grade then %> <%=taken.grade%> <%else%> No grade info <%end%> </td>
                        <td style="display:none;"><select class="grade">
                            <option value=""></option>
                            <option value="A+" <% if taken.grade == "A+" then%> selected <% end %>>A+</option>
                            <option value="A" <% if taken.grade == "A" then%> selected <% end %>>A</option>
                            <option value="A-" <% if taken.grade == "A-" then%> selected <% end %>>A-</option>
                            <option value="B+" <% if taken.grade == "B+" then%> selected <% end %>>B+</option>
                            <option value="B" <% if taken.grade == "B" then%> selected <% end %>>B</option>
                            <option value="B-" <% if taken.grade == "B-" then%> selected <% end %>>B-</option>
                            <option value="C+" <% if taken.grade == "C+" then%> selected <% end %>>C+</option>
                            <option value="C" <% if taken.grade == "C" then%> selected <% end %>>C</option>
                            <option value="C-" <% if taken.grade == "C-" then%> selected <% end %>>C-</option>
                            <option value="D+" <% if taken.grade == "D+" then%> selected <% end %>>D+</option>
                            <option value="D" <% if taken.grade == "D" then%> selected <% end %>>D</option>
                            <option value="D-" <% if taken.grade == "D-" then%> selected <% end %>>D-</option>
                            <option value="F" <% if taken.grade == "F" then%> selected <% end %>>F</option>
                        </select></td>
                        <td> <%=taken.unit%> </td>
                        <td style="display:none;"><select class="unit">
                            <% for i in course.max_unit.downto(course.min_unit) do %>
                            <option value="<%=i.to_s%>" <% if taken.unit == i then%> selected <% end %>><%=i.to_s%></option>
                            <% end %>
                        </select></td>
                        <td> <button class="btn btn-default btn-xs" onclick="javascript:modifyTaken(<%=taken.id%>);"><span class="glyphicon glyphicon-edit"></span></button></td>
                        <td> <button class="btn btn-default btn-xs" onclick="javascript:removeTaken(<%=taken.id%>);"><span class="glyphicon glyphicon-remove"></span></button></td>
                        <td style="display:none;"><button class="btn btn-default btn-xs" onclick="javascript:submitTakenMod(<%=taken.id%>);">Submit</button></td>
                    </tr>
                    <% end %>
                    </table>
                <% end %>
                </div>
            </div>
    </div>
</div>

<script type='text/javascript'>
function changeTrack() {
    var curr = document.getElementById('track_change').style.display;
    if(curr == "") {
        document.getElementById('track_change').style.display = "none";
    }
    else
        document.getElementById('track_change').style.display = "";
}

function submitNewTrack() {
    var track_id = document.getElementById('track_id').value;
    if(track_id == "") return;

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/user/post_track?track_id=" + track_id, false);
    xhttp.send();
    var txt_list = xhttp.responseText.split(',')
    document.getElementById('track_show').innerHTML = txt_list[1];
}

function modifyTaken(taken_id) {
    var cols = document.getElementById(taken_id).getElementsByTagName("td");
    if(cols[1].style.display == "") {
        cols[1].style.display = "none";
        cols[3].style.display = "none";
        cols[6].style.display = "none";
        cols[2].style.display = "";
        cols[4].style.display = "";
        cols[7].style.display = "";
    } else {
        cols[2].style.display = "none";
        cols[4].style.display = "none";
        cols[7].style.display = "none";
        cols[1].style.display = "";
        cols[3].style.display = "";  
        cols[6].style.display = "";      
    }
}

function removeTaken(taken_id) {
    var r = confirm("Remove this data?");
    if (r == true) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/main/delete_course?taken_id=" + taken_id, false);
        xhttp.send();
        $("#" + taken_id).remove();
    } else {
        return;
    }
}

function submitTakenMod(taken_id) {
    var cols = document.getElementById(taken_id).getElementsByTagName("td");

    var data = {"data":[]}
    
    data["data"][0] = {};
    data["data"][0]["course_name"] = cols[0].innerHTML;
    data["data"][0]["grade"] = cols[2].getElementsByClassName("grade")[0].value;
    data["data"][0]["unit"] = cols[4].getElementsByClassName("unit")[0].value;

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/main/update_course", false);
    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhttp.send(JSON.stringify(data));

    if(xhttp.responseText == "success") {
        cols[2].style.display = "none";
        cols[4].style.display = "none";
        cols[7].style.display = "none";
        cols[1].style.display = "";
        cols[1].innerHTML = cols[2].getElementsByClassName("grade")[0].value;
        cols[3].style.display = ""; 
        cols[3].innerHTML = cols[4].getElementsByClassName("unit")[0].value;
        cols[6].style.display = "";       
    }
}
</script>