<script>
  // $scope.register = {}
  // $scope.register.major = false;
  // $scope.register.haveMajor = function() {
  //   return $scope.register.major;
  // }
/*
  $(function() {
    $('button#linkProfile').click(function(event){
      event.preventDefault();
      $('div#profile').toggle();
      $('div#major_1').toggle();
    });

    $('button#yesMajor').click(function(event){
      // $scope.register.major = true;
      event.preventDefault();
      $('div#major_1').toggle();
      $('div#major_2').toggle();
    });
    $('button#noMajor').click(function(event){
      // $scope.register.major = false;
      event.preventDefault();
      $('div#major_1').toggle();
      $('div#classes').toggle();
    });
    $('button#whatMajor').click(function(event){
      event.preventDefault();
      $('div#major_2').toggle();
      $('div#classes').toggle();
    });
  });   */
</script>
<% if @user.errors.count != 0 then %>
<div class="alert center_align" style="background-color: #5B7E7C; color: white; width:500px; margin: auto;">
  <ul class="alert" style="list-style-type: none;">
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form_for @user, :url => {:action => "post_register"} do |form| %>

<div id="profile" class = "col-sm-4" style = "text-align: center; width: 100%; margin: auto;">
  <h3>Register</h3>
  <table class="center_align login_table" style="width: 100%;">
    <tr class="login_td">
      <td class="login_td">
<!--         <input id="first_name" type="text" name = "first_name" placeholder="First Name" style="width: 300px">
 -->
         <%= form.text_field :first_name, placeholder: "First Name", class: "login_td" %> 
      </td>
    </tr>
    <tr class="padding_tr"></tr>
    <tr>
      <td>
        <%= form.text_field :last_name, placeholder: "Last Name", class: "login_td" %>
<!--         <input id="last_name" type="text" name = "last_name" placeholder="Last Name" style="width: 300px">
 -->  </td>
    </tr>
    <tr class="padding_tr"></tr>
    <tr>
      <td>
<!--         <input id="email" type="text" name = "email" placeholder="Your Stanford Email" style="width: 300px">
 -->
         <%= form.text_field :email, placeholder: "Email", class: "login_td" %>
      </td>
    </tr>
    <tr class="padding_tr"></tr>
    <tr>
      <td>
        <%= form.password_field :password, placeholder: "Password", class: "login_td" %>
      </td>
    </tr>
    <tr class="padding_tr"></tr>
    <tr>
      <td>
        <!-- <input id="password_confirmation" type="text" name="password_confirmation" placeholder="Re-enter password" style="width: 300px"> -->
        <%= form.password_field :password_confirmation, placeholder: "Password Confirm", class: "login_td" %>
      </td>
    </tr>
    <tr class="padding_tr"></tr>
    <tr>
      <td>
        <div>Your password must be at least 4 characters long!</div>
      </td>
    </tr>
    
  </table>
  <div class="stepButton" style="margin-top: 50px;">
    <button class="btn" id="linkProfile">Complete Registration!</button>
  </div>
  <div class="stepButton" style="margin-top: 20px;">
    <a href='/'>
      <span>Return to Home</span>
    </a>
  </div>
</div>

<!--
<div id="major_1" style="display: none">
  <div class="stepButton">
    <button class="registerButton" id="linkProfile">Back</button>
  </div>
  <p>Do you have a major in mind?</p>
  <div class="stepButton">
    <button class="registerButton" id="yesMajor">Yes</button>
    <button class="registerButton" id="noMajor">No</button>
  </div>
</div>

<div id="major_2" style="display: none">
  <div class="stepButton">
    <button class="registerButton" id="yesMajor">Back</button>
  </div>
  <p>What major have you decided to declare?</p>
  <select>
    <option value="cs">Computer Science</option>
    <option value="undecided">Undecided</option>
  </select>
  <div class="stepButton">
    <button class="registerButton" id="whatMajor">Next</button>
  </div>
</div>

<div id="classes" style="display: none">
  <div class="stepButton">
    <button class="registerButton" id="whatMajor">Back</button>
  </div>
  <p>Great! Now let's list all the classes you've taken.</p>
  <div>
    <select>
      <option value="cs">CS</option>
      <option value="math">Math</option>
    </select>
    <%= text_field_tag(:first_name) %>
  </div>

  <div>
    <select>
      <option value="cs">CS</option>
      <option value="math">Math</option>
    </select>
    <%= text_field_tag(:first_name) %>
  </div>

  <div>
    <select>
      <option value="cs">CS</option>
      <option value="math">Math</option>
    </select>
    <%= text_field_tag(:first_name) %>
  </div>

  <%= submit_tag("Complete Registration") %>
  <% end %>
</div>
  <% if flash[:notice] %>
  <div class="alert"><%= flash[:notice] %></div>
  <% end %>

</div>
-->
