<style>
    body {
        background-color: #F5EFDF;
    }
    .class-container {
        border-radius: 25px;
        border: 2px solid white;
        padding: 20px; 
        margin: auto;
        margin-top: 50px;
        width: 60%;
    }
    .class-title {
        font-size: 30px;
        font-weight: bold;
    }
    .class-subtitle {
        font-size: 30px;
        /*font-style: italic;*/
    }
    .class-instructors {
        font-size: 15px;
        font-style: italic;
    }
    .class-quarters {
        margin-top: 10px;
        color: gray;
        font-weight: bold;
    }
    .class-units {
        color: gray;
        font-weight: bold;
    }
    .class-grading {
        color: gray;
        font-weight: bold;
    }
    .class-description {
        margin-top: 10px;
        color: black;
    }
    .class-prerequisite-container {
        color: black;
        margin-top: 30px;
    }
    .class-prerequisite-title {
        color: black;
        font-weight: bold;
    }
    .class-prerequisite-content {
        color: gray;
    }
</style>
<div>
    <div class="class-container">
        <span class="class-title" style="margin-right: 10px;"><%=@course_title%></span>
        <span class="class-subtitle"><%=@course_subtitle%></span>
        <div class="class-instructors"><%=@course_instructor%></div>
        <div class="class-quarters"><%=@course_quarters%></div>
        <div class="class-units"><%=@course_units%> Units</div>
        <div class="class-grading"><%=@course_grading%></div>
        <div class="class-description"><%=@course_description%></div>
    </div>
</div>