<script type='text/javascript'>
function renderTrackPage(id) {
    document.getElementById('middle').src = 'track?track_id='+ id;
}
</script>

<style>
body {
    background-color: #F5EFDF;
}
</style>

<div class="container-fluid" style="background-color:#F5EFDF">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="sidebar-title"><b>General Requirement</b></li>
					<li class="active sidebar-list">
						<%= link_to "javascript:renderTrackPage(" + @gen_req.id.to_s + ");" do%>
						<%=@gen_req.name%>
						<%end%>
					</li>
				<li class="sidebar-title"><b>MY TRACK</b></li>
				<% if @my_track!=nil then%>
					<li class="active sidebar-list">
						<%= link_to "javascript:renderTrackPage(" + @my_track.id.to_s + ");" do%>
						<%=@my_track.name%>
						<%end%>
					</li>
				<%end%>
				<li class="sidebar-title"><b>OTHER TRACKS</b></li>
				<% @tracks.each do |track| %>
				    <% if track.name == "General Requirement" then next end %>
					<li class="active sidebar-list">
						<%= link_to "javascript:renderTrackPage(" + track.id.to_s + ");" do%>
						<%=track.name%>
						<% end %>
					</li>
				<%end%>
			</ul>
		</div>
		<div>
			<iframe id="middle" class="col-sm-6 col-md-8 main" style="position: absolute; height: 100%;" src="track" frameBorder="0"></iframe>
		</div>

  		<div class="col-sm-3 col-md-2 sidebar pull-right">
  			<h4>Potential Classes</h4>
  			<div id="potential display" style="height: 500px; overflow: auto"></div>
  		</div>
	</div>
</div>