<!-- Middle screen -->

<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<script type='text/javascript'>
function showPotential(criteria, track_id) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/main/potential?criteria=" + criteria + "&track_id=" + track_id, false);
    xhttp.send();
    parent.document.getElementById('potential display').innerHTML = xhttp.responseText;
}
</script>


<div class="container">
  <h2>
    <% if @track==nil then %>
    <p><%=@user.track.name%></p>
    <% else %>
    <p><%=@track.name%></p>
    <%end%>
  </h2>
  <div class="panel-group">
    <% @track.categories.each do |category| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=category.show_name%></div>
      <div class="panel-body">
        <table>
          <% category.requirements.each do |requirement| %>
            <% if requirement.course_id != nil then %>
              <% if @infos[requirement.id] != nil then %>
                <tr style="color:green;">
                  <td><%=Course.find_by_id(requirement.course_id).course_name%></td>
                  <td><% if @infos[requirement.id].grade %> <%=@infos[requirement.id].grade%> <%else%> No grade info. <%end%></td>
                  <td><%=@infos[requirement.id].unit%></td>
                </tr>
              <% else %>
                <tr style="color:red;">
                  <td><%=Course.find_by_id(requirement.course_id).course_name%></td>
                  <td>Not taken</td>
                  <td></td>
                </tr>
              <% end %>
            <% else %>
              <% @infos[requirement.id].each do |taken| %>
              <% if taken != nil then %>
                <tr style="color:green;">
                  <td><%=Course.find_by_id(taken.course_id).course_name%></td>
                  <td><% if taken.grade %> <%=taken.grade%> <%else%> No grade info. <%end%></td>
                  <td><%=taken.unit%></td>
                </tr>
              <% else %>
                <tr style="color:red;">
                  <td><%=requirement.criteria%></td>
                  <td>Not taken</td>
                  <td></td>
                </tr>
              <% end %>
              <% end %>
            <% end %>
          <% end %>
        </table>
        <% if category.min_units != nil then %>
          <% if @category_unit[category.id] < category.min_units then %>
          <span style="color:red;"> <%= @category_unit[category.id] %> / <%= category.min_units %> </span>
          <% else %>
          <span style="color:green;"> <%= @category_unit[category.id] %> / <%= category.min_units %> </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>