<!-- Middle screen -->

<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<script type='text/javascript'>
function showPotential(criteria, track_id) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/main/potential?criteria=" + criteria + "&track_id=" + track_id, false);
    xhttp.send();
    parent.document.getElementById('potential display').innerHTML = xhttp.responseText;
}
</script>


<div class="container">
  <h2>
    <% if @track==nil then %>
    <p><%=@user.track.name%></p>
    <% else %>
    <p><%=@track.name%></p>
    <%end%>
  </h2>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Panel with panel-default class</div>
      <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Panel with panel-primary class</div>
      <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">Panel with panel-success class</div>
      <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">Panel with panel-info class</div>
      <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading">Panel with panel-warning class</div>
      <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">Panel with panel-danger class</div>
      <div class="panel-body">Panel Content</div>
    </div>
  </div>
</div>

<table>
<% @infos.each do |info| %>
    <% if info.fulfilled then %>
    <tr style="color:green;">
        <td><%=info.requirement.criteria%></td> 
        <td><%=info.course_name%></td>
        <td><% if info.taken.grade!=nil%> <%=info.taken.grade%> <%else%> No grade info. <%end%></td>
        <td><% if info.taken.unit!=nil%> <%=info.taken.unit%> <%else%> No unit info. <%end%></td>
    </tr>
    <%else%>
    <tr style="color:red;">
        <td><%= link_to "javascript:showPotential('" + info.requirement.criteria + "','" + info.requirement.track_id.to_s + "');", :class => "no-deco" do %><%=info.requirement.criteria%><%end%></td> 
        <td><%=info.course_name%></td>
        <td>Not taken</td>
        <td></td>
    </tr>
    <%end%>
<%end%>
</table>

</div>