<!-- Middle screen -->

<script type='text/javascript'>
function showPotential(requirement_id) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/main/potential?requirement_id=" + requirement_id, false);
    xhttp.send();
    console.log(requirement_id);
    parent.document.getElementById('potential display').innerHTML = xhttp.responseText;
}
</script>

<div class="container">
  <h2>
    <% if @track==nil then %>
    <p><%=@user.track.name%></p>
    <% else %>
    <p><%=@track.name%></p>
    <%end%>
  </h2>
  <div class="panel-group">
    <% @track.categories.each do |category| %>
    <div class="panel panel-default">
      <div class="panel-heading"><b><%=category.show_name%></b></div>
      <div class="panel-body">
        <table>
          <% category.requirements.each do |requirement| %>
            <% if requirement.course_id != nil then %>
              <% if @infos[requirement.id] != nil then %>
                <tr style="color:#5B7E7C;">
                  <td align="left" width="200px"><%=Course.find_by_id(requirement.course_id).course_name%></td>
                  <td align="center" width="100px"><% if @infos[requirement.id].grade %> <%=@infos[requirement.id].grade%> <%else%> No grade info. <%end%></td>
                  <td align="center" width="100px"><%=@infos[requirement.id].unit%></td>
                </tr>
              <% else %>
                <tr style="color:#EC4F55;">
                  <td align="left" width="200px" onclick="javascript:showPotential(<%=requirement.id%>);"><%=Course.find_by_id(requirement.course_id).course_name%></td>
                  <td align="center" width="100px">Not taken</td>
                  <td align="center" width="100px"> </td>
                </tr>
              <% end %>
            <% else %>
              <% @infos[requirement.id].each do |taken| %>
              <% if taken != nil then %>
                <tr style="color:#5B7E7C;">
                  <td align="left" width="200px"><%=Course.find_by_id(taken.course_id).course_name%></td>
                  <td align="center" width="100px"><% if taken.grade %> <%=taken.grade%> <%else%> No grade info. <%end%></td>
                  <td align="center" width="100px"><%=taken.unit%></td>
                </tr>
              <% else %>
                <tr style="color:#EC4F55;">
                  <td align="left" width="200px" onclick="javascript:showPotential(<%=requirement.id%>);"><%=requirement.criteria%></td>
                  <td align="center" width="100px">Not taken</td>
                  <td align="center" width="100px"></td>
                </tr>
              <% end %>
              <% end %>
            <% end %>
          <% end %>
        </table>
        <% if category.min_units != nil then %>
          <% if @category_unit[category.id] < category.min_units then %>
          <span style="color:#EC4F55;"> <b> Total units :</b> <%= @category_unit[category.id] %> / <%= category.min_units %> </span>
          <% else %>
          <span style="color:#5B7E7C;"> <b> Total units :</b> <%= @category_unit[category.id] %> / <%= category.min_units %> </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
